# Rider specific
.idea/
*.sln.iml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# .NET build outputs
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.cache
*.vspscc
*.vssscc
.builds

# NuGet packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json

# Build results
[Dd]ebugPublic/
[Rr]eleasePublic/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS